/* RESET AND SETUP CSS */
@font-face {
    font-family: 'Lora-Regular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --yellow-color: #ffa400;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lora-Regular';    
    font-size: 15px;
    /* background-color: var(--yellow-color); */
}
input{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.mc-container{
    max-width: 1270px;
    padding: 0 15px;
    margin:0 auto;
}
.mc-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-jc-space-between{
    justify-content: space-between;
}
.mc-align-center{
    align-items: center;
}
.mc-mg--15{
    margin:0 -15px;
}
.mc-pdx-15{
    padding: 0 15px;
}
.mc-mg--10{
    margin:0 -10px;
}
.mc-pdx-10{
    padding: 0 10px;
}
.mc-col-1{
    flex: 0 0 8.33%;
    max-width: 8.33%;
    width: 100%;
}
.mc-col-2{
    flex: 0 0 16.66%;
    max-width: 16.66%;
    width: 100%;
}
.mc-col-3{
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}
.mc-col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
.mc-col-5{
    flex: 0 0 41.66%;
    max-width: 41.66%;
    width: 100%;
}
.mc-col-6{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.mc-col-7{
    flex: 0 0 58.33%;
    max-width: 58.33%;
    width: 100%;
}
.mc-col-8{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    width: 100%;
}
.mc-col-9{
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
}
.mc-col-10{
    flex: 0 0 83.33%;
    max-width: 83.33%;
    width: 100%;
}
.mc-col-11{
    flex: 0 0 91.66%;
    max-width: 91.66%;
    width: 100%;
}
.mc-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}
.mccs-5{
    flex: 0 0 41.66%;
    max-width: 40%;
    width: 100%;
}
.mccs-7{
    flex: 0 0 58.33%;
    max-width: 54%;
    width: 100%;
}
/* RESET AND SETUP CSS */
/* CSS HEADER */
.mc_header_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .left-header img{
    width: 126px;
}
.mc_header .left-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .menu li a{
    padding: 10px 12px;
    display: block;
    font-size: 13px;
    font-family: 'Raleway-Bold';

}
.mc_header .logo{
    display: block;
    margin-right: 18px;
}
.mc_header .right-header .right-func{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    align-items: center;
}
.mc_header .right-header .right-func img{
    width: 26px;
}
.mc_header .item-right{
    margin-left: 10px;
}
.mc_header .change-mode{
    margin-left: 24px;
    position: relative;
}
.mc_header .change-mode:before{
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 1px;
    height: 14px;
    background-color: #88888866;
}
.mc_header .change-mode-bar{
    width: 40px;
    height: 14px;
    position: relative;
    background: #88888826;
    border-radius: 16px;
}
.mc_header .change-mode-bar .btn-change{
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 1px 4px #0000001f;
    cursor: pointer;
}
.mc_header .change-mode-bar .btn-change img{
    width: 14px;
}
.mc_header .menu-item{
    position: relative;
}
.mc_header .menu-item:hover .mega-popup{
    display: block;
}
.mc_header .menu-item .mega-popup{
    position: fixed;
    width: 1240px;
    left: 340px;
    top: 34px;
    box-shadow:0 10px 20px #00000008;
    padding: 20px;
    border-radius: 15px;
    display: none;
}
.mega-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.mega-popup .mega-item{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 0 10px;
}
.mega-popup .mega-item-thumb img{
    width: 100%;
    border-radius: 10px;
}
.mega-popup .mega-name-pop-and-show-more{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mega-popup .mega-name-pop-and-show-more .mega-name-pop{
    font-family: 'Raleway-Black';
}
.mega-popup .mega-item-thumb{
    margin-bottom: 12px;
}
.mega-popup .mega-name-pop-and-show-more .mega-show-more{
    font-family: 'Raleway-Thin';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}
.mega-popup .mega-item-title{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 12px;
}
.mega-popup .mega-item-date{
    font-family: 'Raleway-Thin';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}
.mc-fade-in-bottom{-webkit-animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes mc-fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes mc-fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.mc_header .menu-item-has-children .sub-menu{
    position: absolute;
    width: 210px;
    left: 0;
    box-shadow: 0 4px 30px #0000001f;
    border-radius: 10px;
    top: 34px;
    padding: 10px;
    display: none;
    -webkit-animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both
}
.mc_header .menu-item-has-children:hover .sub-menu{
    display: block;
}
.mc_header .menu-item-has-children .sub-menu li a:hover{
    opacity: 0.7;
    transition: 0.3s all;
}
.mc_header .menu-item-has-children .sub-menu li a{
    transition: 0.3s all;
    font-size: 11px;
    font-family: 'Raleway-Medium';
}
.mc-mega-2 .mega-lable-pop{
    font-size: 21px;
    padding-top: 20px;
    font-family: 'Raleway-Black';
    margin-bottom: 20px;
}
.mega-row-2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-mega-2 .colum-1-thumb{
    margin-bottom: 50px;
    position: relative;
}
.mc-mega-2 .colum-1-thumb .colum-1-thumb-bg{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
}
.mc-mega-2 .colum-1-thumb .colum-1-thumb-bg img{
    width: 90%;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.mc-mega-2 .colum-1-title{
    max-width: 350px;
}
.mc-mega-2 .colum-1-thumb img{
    width: 82%;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}
.mega-2-col{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
 /* END CSS HEADER */