/* RESET AND SETUP CSS */
@font-face {
    font-family: 'Lora-Regular';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lora-Italic';
    src: url('../fonts/Lora-Italic.woff2') format('woff2'),
        url('../fonts/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Thin';
    src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    --yellow-color: #ffa400;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lora-Regular';    
    font-size: 15px;
    /* background-color: var(--yellow-color); */
}
input{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.mc-container{
    max-width: 1270px;
    padding: 0 15px;
    margin:0 auto;
}
.mc-container-big{
    max-width: 1600px;
    padding: 0 20px;
    margin:0 auto;
}
.mc-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-jc-space-between{
    justify-content: space-between;
}
.mc-align-center{
    align-items: center;
}
.mc-mg--15{
    margin:0 -15px;
}
.mc-pdx-15{
    padding: 0 15px;
}
.mc-mg--10{
    margin:0 -10px;
}
.mc-pdx-10{
    padding: 0 10px;
}
.mc-mg--5{
    margin:0 -5px;
}
.mc-pdx-5{
    padding: 0 5px;
}
.mc-col-1{
    flex: 0 0 8.33%;
    max-width: 8.33%;
    width: 100%;
}
.mc-col-2{
    flex: 0 0 16.66%;
    max-width: 16.66%;
    width: 100%;
}
.mc-col-3{
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
}
.mc-col-4{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
.mc-col-5{
    flex: 0 0 41.66%;
    max-width: 41.66%;
    width: 100%;
}
.mc-col-6{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.mc-col-7{
    flex: 0 0 58.33%;
    max-width: 58.33%;
    width: 100%;
}
.mc-col-8{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    width: 100%;
}
.mc-col-9{
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
}
.mc-col-10{
    flex: 0 0 83.33%;
    max-width: 83.33%;
    width: 100%;
}
.mc-col-11{
    flex: 0 0 91.66%;
    max-width: 91.66%;
    width: 100%;
}
.mc-col-12{
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}
.mccs-5{
    flex: 0 0 41.66%;
    max-width: 40%;
    width: 100%;
}
.mccs-7{
    flex: 0 0 58.33%;
    max-width: 54%;
    width: 100%;
}
/* RESET AND SETUP CSS */
/* CSS HEADER */
.mc_header_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .left-header img{
    width: 126px;
}
.mc_header .left-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .menu{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_header .menu li a{
    padding: 10px 12px;
    display: block;
    font-size: 13px;
    font-family: 'Raleway-Bold';

}
.mc_header .logo{
    display: block;
    margin-right: 18px;
}
.mc_header .right-header .right-func{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
    align-items: center;
}
.mc_header .right-header .right-func img{
    width: 26px;
}
.mc_header .item-right{
    margin-left: 10px;
}
.mc_header .change-mode{
    margin-left: 24px;
    position: relative;
}
.mc_header .change-mode:before{
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 1px;
    height: 14px;
    background-color: #88888866;
}
.mc_header .change-mode-bar{
    width: 40px;
    height: 14px;
    position: relative;
    background: #88888826;
    border-radius: 16px;
}
.mc_header .change-mode-bar .btn-change{
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    box-shadow: 0 1px 4px #0000001f;
    cursor: pointer;
}
.mc_header .change-mode-bar .btn-change img{
    width: 14px;
}
.mc_header .menu-item{
    position: relative;
}
.mc_header .menu-item:hover .mega-popup{
    display: block;
}
.mc_header .menu-item .mega-popup{
    position: fixed;
    width: 100%;
    left: 0;
    top: 47px;
    background: transparent;
    display: none;
    z-index: 4;
}
.mega-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.mega-popup .mega-item{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 0 10px;
}
.mega-popup .mega-item-thumb img{
    width: 100%;
    border-radius: 10px;
}
.mega-popup .mega-name-pop-and-show-more{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.mega-popup .mega-name-pop-and-show-more .mega-name-pop{
    font-family: 'Raleway-Black';
}
.mega-popup .mega-item-thumb{
    margin-bottom: 12px;
}
.mega-popup .mega-name-pop-and-show-more .mega-show-more{
    font-family: 'Raleway-Thin';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}
.mega-popup .mega-item-title{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 12px;
}
.mega-popup .mega-item-date{
    font-family: 'Raleway-Thin';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}
.mc-fade-in-bottom{-webkit-animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes mc-fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes mc-fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.mc_header .menu-item-has-children .sub-menu{
    position: absolute;
    width: 210px;
    left: 0;
    box-shadow: 0 4px 30px #0000001f;
    border-radius: 10px;
    top: 34px;
    padding: 10px;
    display: none;
    -webkit-animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both;animation:mc-fade-in-bottom .3s cubic-bezier(.39,.575,.565,1.000) both;
    z-index: 4;
    background: #fff;
}
.mc_header .menu-item-has-children:hover .sub-menu{
    display: block;
}
.mc_header .menu-item-has-children .sub-menu li a:hover{
    opacity: 0.7;
    transition: 0.3s all;
}
.mc_header .menu-item-has-children .sub-menu li a{
    transition: 0.3s all;
    font-size: 11px;
    font-family: 'Raleway-Medium';
}
.mc-mega-2 .mega-lable-pop{
    font-size: 21px;
    padding-top: 20px;
    font-family: 'Raleway-Black';
    margin-bottom: 20px;
}
.mega-row-2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mc-mega-2 .colum-1-thumb{
    margin-bottom: 50px;
    position: relative;
}
.mc-mega-2 .colum-1-thumb .colum-1-thumb-bg{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 2;
}
.mc-mega-2 .colum-1-thumb .colum-1-thumb-bg img{
    width: 90%;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}
.mc-mega-2 .colum-1-title{
    max-width: 350px;
}
.mc-mega-2 .colum-1-thumb img{
    width: 82%;
    border-radius: 10px;
    position: relative;
    z-index: 3;
}
.mega-2-col{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    width: 100%;
}
.mc-mega-2 .column-2-item .column-2-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.mc-mega-2 .column-2-item .column-2-row .column-2-item-thumb{
    flex: 0 0 32%;
    max-width: 32%;
    width: 100%;
}
.mc-mega-2 .column-2-item .column-2-row .column-2-item-thumb img{
    width: 100%;
    border:10px;
}
.mc-mega-2 .column-2-item .column-2-row .column-2-item-thumb{
    flex: 0 0 32%;
    max-width: 32%;
    width: 100%;
}
.mc-mega-2 .column-2-item .column-2-row  .column-2-item-content{
    flex: 0 0 68%;
    max-width: 64%;
    width: 100%;
}
.mc-mega-2 .column-2-lable{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #80808026;
    margin-right: 25px;
    font-size: 15px;
    font-family: 'Raleway-Black';
}
.mc-mega-2 .column-3-lable{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #80808026;
    font-size: 15px;
    font-family: 'Raleway-Black';
}
.mc-mega-2 .mc-cs-mega-2-col{
    padding-left: 45px;
}
.mc-mega-2 .mc-cs-mega-2-col .column-3-item:last-child{
    border-bottom: 0;
}
.mc-mega-2 .mc-cs-mega-2-col .column-3-item{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #80808042;
}
.mega-2-show-more{
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
}
.mega-popup-contain{
    max-width: 1240px;
    margin: 0 auto;
    background: #fff ;
    box-shadow:0 10px 20px #00000008;
    padding: 20px;
    border-radius: 15px;
}
 /* END CSS HEADER */

 /* STYLE HOME */
.section_1 .sec-1-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.section_1 .section_1_contain{
    max-width: 1600px;
    margin: 0 auto;
}
.section_1 .left-banner{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
}
.section_1 .right-contain{
    flex: 0 0 50%;
    max-width: 44%;
    width: 100%;
}
.section_1{
    padding: 30px 0;
}
.section_1 .right_content_sec_1{
    font-size: 20px;
    font-family: 'Lora-Italic';
    line-height: 34px;
    padding-right: 30px;
}
.section_1 .right_content_sec_1 h3{
    color: #333;
    font-family: 'Raleway-Black';
    font-size: 90px;
    line-height: 80px;
    margin-bottom: 25px;
    letter-spacing: -2px;
    text-shadow: 5px 5px 0px #aedbdb;
    text-align: right;
    padding-right: 30px;
}
.btn_sec_1 a span{
    font-size: 30px;
    color: #ff2273;
    margin-right: 15px;
}
.btn_sec_1 a{
    font-size: 15px;
    font-family: 'Raleway-Black';
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 60px;
    align-items: center;
    margin-top: 20px;
}
.mc-line{
    width: 140px;
    margin-left: auto;
    margin-right: 50px;
}
.section_2{
    padding: 20px 0 45px;
}
.section_2 .item_sec_2 .cate_item_sec_2{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color:#fff;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.section_2 .item_sec_2 .cate_item_sec_2:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.section_2 .item_sec_2 .cate_item_sec_2::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.section_2 .item_sec_2 .title_item_sec_2{
    font-size: 24px;
    font-family: 'Raleway-Black';
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
.line-2{
    margin-bottom: 20px;
}
.line-2 img{
    width: 41px;
    margin: 0 auto;
}
.line-3{
    margin-bottom: 35px;
}
.line-3 img{
    width: 252px;
    margin: 0 auto;
}
.section_2 .item_sec_2 .date_item_sec_2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color:#666;
    font-size: 12px;
}
.section_2 .sec_2_post_list{
    margin-bottom: 35px;
}
.section_2 .title_list_cate .small_title_cate{
    font-size: 21px;
    font-family: 'Raleway-Black';
}
.section_2 .title_list_cate .big_title_cate{
    font-size: 42px;
    font-family: 'Raleway-Black';
}
.section_2 .sec_2_cat_list .item_cate{
    position: relative;
}
.section_2 .sec_2_cat_list .item_cate img{
    border-radius: 15px;
}
.section_2 .sec_2_cat_list .item_cate::before{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,#aed9d985,#aed9d9 100%);
    z-index: 2;
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 15px 15px;
}
.section_2 .sec_2_cat_list .item_cate .item_name_cate{
    position: absolute;
    font-size: 21px;
    color: #fff;
    font-family: 'Raleway-Black';
    bottom: 10px;
    left: 20px;
    z-index: 3;
}
.section_2 .thumb_sec_2 img{
    border-radius: 10px;
}
.section_3{
    background-color: #8EC1C130;
    position: relative;
}
.section_3 .shape-top{
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    top: -1px;
}
.section_3 .shape-top svg{
    width: calc(100% + 1.3px);
    height: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.section_3 .shape-bottom{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}
.section_3 .shape svg .shape-fill{
    fill: #fff;
}
.section_3 .shape-bottom svg{
    width: calc(100% + 1.3px);
    height: 50px;
    z-index: -1;
    overflow: hidden;
    position: relative;
    left: 50%;
    display: block;
    transform: translateX(-50%);
}
.sec3_contain .heading-inner{
    position: relative;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-top: 35px;
    font-family: 'Raleway-Black';
    margin-bottom: 25px;
}
.sec3_contain .heading-inner .heading-title{
    font-size: 23px;
}
.sec3_contain .heading-inner .heading-tagline{
    font-size: 4em;
    line-height: 1;
    position: absolute;
    top: 9px;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: .12;
    width: 100%;
    text-align: center;
}
.sec3_contain .slide_sec_3_item{
    padding: 0 25px;
    outline: none;
}
.sec3_contain .thumb_post_sec_3{
    display: block;
    margin-bottom: 15px;
}
.sec3_contain .cate_post_sec3{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.sec3_contain .cate_post_sec3:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.sec3_contain .cate_post_sec3::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.sec3_contain .thumb_post_sec_3 img{
    border-radius: 10px;
}
.sec3_contain .slide_sec_3_item .title_post_sec_3{
    font-size: 38px;
    font-family: 'Raleway-Black';
    text-align: center;
    display: block;
    margin-bottom: 16px;
}
.sec3_contain .slider_post_sec_3{
    padding-bottom: 100px;
}
.line_sec_3 img{
    width: 41px;
    margin: 0 auto;
}
.line_sec_3 {
    margin-bottom: 18px;
}
.sec3_contain .author_date span{
    margin: 0 3px;
}
.sec3_contain .author_date{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.sec3_contain .author_date .author{
    font-family: 'Montserrat-Bold';
    color:#000;
}
.sec3_contain .descp_post_sec_3{
    font-size: 14px;
    text-align: center;
    color:#666666;
    line-height: 22px;
}
.slider_post_sec_3 .slick-dots{
    bottom: 50px;
}
.slider_post_sec_3 .slick-dots li.slick-active button:before{
    font-size: 14px;
}
.slider_post_sec_3 .slick-dots li button:before{
    font-size: 10px;
}
.slider_post_sec_3 .slick-dots li{
    width: 16px;
    height: 16px;
    margin: 0 2px;
}
.sec4_contain .mc-custome-title{
    position: relative;
    margin-bottom: 18px;
}
.sec4_contain .mc-custome-title .mc-main-title{
    font-size: 23px;
    font-family: 'Raleway-Black';
    position: relative;
    z-index: 3;
}
.sec4_contain .mc-custome-title .mc-sub-title{
    position: absolute;
    font-size: 55px;
    bottom: -10px;
    left:0;
    font-family: 'Raleway-Black';
    color:#e7e7e7;
    z-index: 2;
}
.sec4_contain .item-first-4{
    margin-bottom: 40px;
}
.item-first-4 img{
    border-radius: 10px;
}
.item-first-4 .cate_item_sec_4{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.item-first-4 .cate_item_sec_4:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.item-first-4 .cate_item_sec_4::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.item-first-4 .title_item_sec_4{
    font-size: 38px;
    font-family: 'Raleway-Black';
    text-align: center;
    display: block;
    margin-bottom: 16px;
}
.sec4_contain .item-first-4 .descp_post_sec_4{
    font-size: 14px;
    text-align: center;
    color: #666666;
    line-height: 22px;
    padding: 0 40px;
    margin-bottom: 25px;
}
.sec4_contain .item-first-4 .author_date{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.sec4_contain .item-first-4 .author_date .author{
    font-family: 'Montserrat-Bold';
    color: #000;
}
.sec4_contain .item-first-4 .author_date span{
    margin: 0 3px;
}
.sec4_contain .item-second-4 .title_item_sec_4{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 14px;
    display: block;
}
.sec4_contain .item-second-4 .date_sec_4{
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 12px;
}
.sec4_contain .item-second-4 .right-post-sec-4{
    padding: 0 30px 0 15px;
}
.item-second-4 img{
    border-radius: 10px;
}
.sec4_contain .list-post-sec4{
    margin-bottom: 38px;
}
.section_5 .mc-custome-title{
    position: relative;
    margin-bottom: 18px;
}
.section_5 .mc-custome-title .mc-main-title{
    font-size: 23px;
    font-family: 'Raleway-Black';
    position: relative;
    z-index: 3;
}
.section_5 .mc-custome-title .mc-sub-title{
    position: absolute;
    font-size: 55px;
    bottom: -10px;
    left:0;
    font-family: 'Raleway-Black';
    color:#e7e7e7;
    z-index: 2;
}
.section_5 .item-first-5 .cate_item_sec_5{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.section_5 .item-first-5 .cate_item_sec_5:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.section_5 .item-first-5 .cate_item_sec_5::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.section_5 .item-first-5 .title_item_sec_5{
    font-size: 38px;
    font-family: 'Raleway-Black';
    text-align: center;
    display: block;
    margin-bottom: 16px;
}
.section_5 .item-first-5 .descp_post_sec_5{
    font-size: 14px;
    text-align: center;
    color: #666666;
    line-height: 22px;
    padding: 0 40px;
    margin-bottom: 25px;
}
.section_5 .item-first-5 .author_date{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.section_5 .item-first-5 .author_date .author{
    font-family: 'Montserrat-Bold';
    color: #000;
}
.section_5 .item-first-5 .author_date span{
    margin: 0 3px;
}
.section_5 .item-first-5 img{
    border-radius: 10px;
}
.section_5 .item-first-5{
    margin-bottom: 40px;
}
.section_5 .img-first-sec-5{
    padding-left: 40px;
}
.section_5 .item-bottom-5 .thumb-bt-5 img{
    height: 287px;
    object-fit: cover;
    border-radius: 10px;
}
.section_5 .item-bottom-5 .thumb-cate-5{
    position: relative;
}
.section_5 .item-bottom-5 .cate_item_bt_sec_5{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color:#fff;
    letter-spacing: 2px;
}
.section_5 .item-bottom-5 .cate_item_bt_sec_5:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.section_5 .item-bottom-5 .cate_item_bt_sec_5::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.section_5 .item-bottom-5 .sec-5-custom-cate{
    position: absolute;
    bottom: -5px;
    z-index: 3;
    left: 0;
}
.section_5 .item-bottom-5 .thumb-bt-5{
    margin-bottom: 20px;
    display: block;
}
.section_5 .item-bottom-5 .title_item_sec_5{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 14px;
    display: block;
}
.section_5 .item-bottom-5 .date{
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 12px;
}
.section_5 .list-post-sec5{
    margin-bottom: 38px;
}
.section_6 .mc-custome-title{
    position: relative;
    margin-bottom: 40px;
}
.section_6 .mc-custome-title .mc-main-title{
    font-size: 23px;
    font-family: 'Raleway-Black';
    position: relative;
    z-index: 3;
}
.section_6 .mc-custome-title .mc-sub-title{
    position: absolute;
    font-size: 55px;
    bottom: -10px;
    left:0;
    font-family: 'Raleway-Black';
    color:#e7e7e7;
    z-index: 2;
}
.list_post_6 .thumb-item-left-6{
    position: relative;
}
.list_post_6 .pare_cate_item_sec_left_6{
    position: absolute;
    bottom: -5px;
    z-index: 3;
    left: 0;
}
.list_post_6 .cate_item_sec_left_6{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
}
.list_post_6 .cate_item_sec_left_6::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.list_post_6 .cate_item_sec_left_6:hover::before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.list_post_6 .img-first-sec-6 img{
    border-radius: 10px;
}
.list_post_6 .img-first-sec-6{
    margin-bottom: 20px;
    display: block;
}
.list_post_6 .title-item-left-6{
    font-size: 34px;
    font-family: 'Raleway-Black';
    display: block;
    margin-bottom: 16px;
}
.list_post_6 .author_date{
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.list_post_6 .author_date .author{
    font-family: 'Montserrat-Bold';
    color: #000;
}
.list_post_6 .author_date span{
    margin: 0 3px;
}
.list_post_6 .excerpt-item-left-6{
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 25px;
}
.list_post_6 .item-first-post-6-right{
    position: relative;
    margin-bottom: 30px;
}
.list_post_6 .item-first-post-6-right:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top,#10142d 0,#10142de6 50%,#10142d00 100%);
    z-index: 2;
    width: 100%;
    height: 160px;
    border-radius: 0 0 10px 10px;
}
.list_post_6 .img-first-sec-right-6{
    display: block;
}
.list_post_6 .img-first-sec-right-6 img{
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
}
.list_post_6 .cate_item_first_sec_right_6{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
}
.list_post_6 .cate_item_first_sec_right_6::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.list_post_6 .cate_item_first_sec_right_6:hover::before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.list_post_6 .posi-pare{
    position: absolute;
    z-index: 3;
    bottom: 25px;
    left: 21px;
    width: 80%;
}
.list_post_6 .posi-pare .title-item-right-6{
    font-size: 24px;
    font-family: 'Raleway-Black';
    display: block;
    margin-bottom: 16px;
    color:#fff;
}
.pare_cate_item_first_sec_right_6{
    margin-bottom: 10px;
}
.list_post_6 .posi-pare .date{
    font-family: 'Montserrat-Regular';
    color: #e3e3e3;
    font-size: 12px;
}
.list_post_6 .thumb-item-right-6{
    position: relative;
    margin-bottom: 20px;
}
.list_post_6 .pare_cate_item_sec_tw_6{
    position: absolute;
    bottom: -5px;
    z-index: 3;
    left: 0;
}
.list_post_6 .cate_item_sec_tw_6{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
}
.list_post_6 .cate_item_sec_tw_6::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.list_post_6 .cate_item_sec_tw_6:hover::before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.list_post_6 .img-tw-sec-6 img{
    border-radius: 10px;
}
.list_post_6 .title-item-tw-6{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 14px;
    display: block;
}
.list_post_6 .date{
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 12px;
}
.section_7 .mc-custome-title{
    position: relative;
    margin-bottom: 40px;
}
.section_7 .mc-custome-title .mc-main-title{
    font-size: 23px;
    font-family: 'Raleway-Black';
    position: relative;
    z-index: 3;
    text-align: center;
}
.section_7 .mc-custome-title .mc-sub-title{
    position: absolute;
    font-size: 55px;
    bottom: -10px;
    font-family: 'Raleway-Black';
    color: #e7e7e7;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
.section_6{
    margin-bottom: 45px;
}
.list_post_sec_7 .mc-list-cate-7 a{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.list_post_sec_7 .mc-list-cate-7 a:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.list_post_sec_7 .mc-list-cate-7 a::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.list_post_sec_7 .mc-list-cate-7{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.list_post_sec_7 .title_item_sec_7{
    font-size: 21px;
    font-family: 'Raleway-Black';
    margin-bottom: 15px;
    display: block;
}
.list_post_sec_7 .excerpt-item-7{
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 15px;
}
.list_post_sec_7 .author_date{
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.list_post_sec_7 .author_date .author{
    font-family: 'Montserrat-Bold';
    color: #000;
}
.list_post_sec_7 .author_date span{
    margin: 0 3px;
}
.list_post_sec_7 .img-first-sec-7 img{
    height: 215px;
    object-fit: cover;
    border-radius: 10px;
}
.section_7 .item-sec-7{
    margin-bottom: 30px;
}
.read-more-7 a{
    width: 150px;
    display: block;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    margin: 0 auto;
    font-family: 'Montserrat-Bold';
    color: #000;
    font-size: 12px;
    background:#f7f7f7;
    transition: 0.3s all;
}
.read-more-7 a:hover{
    transition: 0.3s all;
    background: #aedbdb;
    color:#fff;
    box-shadow: 0 0 15px #aedbdb;
}
.section_7{
    margin-bottom: 80px;
}
.footer .footer-right .title-form-footer{
    font-size: 24px;
    text-align: center;
    font-family: 'Raleway-Black';
    margin-bottom: 15px;
    display: block;
}
.footer .footer-right .desc-form-footer{
    text-align: center;
    margin-bottom: 30px;
}
.footer .footer-right .form-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer .footer-right .inp-form-footer{
    flex: 0 0 60%;
    max-width: 60%;
    width: 100%;
    margin-right: 8px;
}
.footer .footer-right .inp-submit{
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
}
.inp-form-footer input{
    width: 100%;
    display: block;
    padding: 14px 16px;
    font-family: 'Lora-Regular';
    font-size: 16px;
    background: #88888826;
    border: 0;
    border-radius: 6px;
    height: 48px;
    outline: none;
}
.footer .footer-right .inp-submit input{
    padding: 14px 16px;
    border-radius: 6px;
    border: 0;
    width: 100%;
    font-family: 'Raleway-Black';
    font-size: 18px;
    height: 48px;
    background: #aedbdb;
    color:#fff;
    cursor: pointer;
    transition: 0.3s all;
    outline: none;
}
.footer .footer-right .inp-submit input:hover{
    box-shadow: 0 4px 15px #aedbdbe6;
    transition: 0.3s all;
}
.footer .line-3{
    margin: 35px 0;
}
.footer .soc-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer{
    padding-bottom: 70px;
}
.footer .title-soc{
    color: #333333;
    font-size: 16px;
    font-family: 'Raleway-Black';
}
.item-soc a{
    text-align: center;
}
.item-soc a .icon-social{
    font-size: 30px;
    margin-bottom: 10px;
}
.item-soc a .name-social{
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 12px;
    letter-spacing: 2px;
}
.footer .title-maps{
    font-size: 16px;
    text-align: center;
    font-family: 'Raleway-Black';
    color:#333333;
    margin-bottom: 25px;
}
.btn-menu-mobile{
    position: relative;
    background: transparent;
    border: 0;
    width: 30px;
    margin-right: 20px;
    height: 30px;
    display: none;
}
.btn-menu-mobile span:first-child{
    position: absolute;
    top: 7px;
    left: 5px;
    width: 28px;
    height: 2px;
    background: #000;
    transition: 0.3s all;
}
.btn-menu-mobile span:nth-child(2){
    position: absolute;
    top: 15px;
    left: 5px;
    width: 21px;
    height: 2px;
    background: #000;
}
.btn-menu-mobile span:last-child{
    position: absolute;
    top: 23px;
    left: 5px;
    width: 14px;
    height: 2px;
    background: #000;
    transition: 0.3s all;
}
.mc_header_mobile{
    display: none;
}
.menu_mobile{
    display: none;
}
.menu-fade-in{-webkit-animation:menu-fade-in 0.3s cubic-bezier(.39,.575,.565,1.000) both;animation:menu-fade-in 0.3s cubic-bezier(.39,.575,.565,1.000) both}
 @-webkit-keyframes menu-fade-in{0%{opacity:0}100%{opacity:1}}@keyframes menu-fade-in{0%{opacity:0}100%{opacity:1}}
 body.active{
    margin: 0; height: 100%; overflow: hidden
 }
 /* CSS CATEGORY PAGE */
 .mc_category .cat-grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 40px;
    margin-bottom: 30px;
 }
 .mc_category .cat-grid .cat-first-item:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
 }
 .mc_category .text-center-cat{
    background: #4b8787;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 45px;
 }
 .mc_category .mc-custome-title{
    position: relative;
    margin-bottom: 40px;
}
.mc_category .mc-custome-title .mc-main-title{
    font-size: 23px;
    font-family: 'Raleway-Black';
    position: relative;
    z-index: 3;
    text-align: center;
}
.mc_category .mc-custome-title .mc-sub-title{
    position: absolute;
    font-size: 55px;
    bottom: -10px;
    font-family: 'Raleway-Black';
    color: #e7e7e7;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

.mc_category .item-sec-cat{
    margin-bottom: 30px;
}
.mc_category .item-sec-cat .mc-list-sec-cat a{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-right: 5px;
}
.mc_category .item-sec-cat .mc-list-sec-cat a:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.mc_category .item-sec-cat .mc-list-sec-cat a::before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.mc_category .item-sec-cat .mc-list-sec-cat{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}
.mc_category .item-sec-cat .title_item_sec_cat{
    font-size: 21px;
    font-family: 'Raleway-Black';
    margin-bottom: 15px;
    display: block;
}
.mc_category .item-sec-cat .excerpt-cat-sec{
    font-size: 14px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 15px;
}
.mc_category .item-sec-cat .author_date{
    margin-bottom: 20px;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.mc_category .item-sec-cat .author_date .author{
    font-family: 'Montserrat-Bold';
    color: #000;
}
.mc_category .item-sec-cat .author_date span{
    margin: 0 3px;
}
.mc_category .item-sec-cat .img-cat-sec-2 img{
    height: 215px;
    object-fit: cover;
    border-radius: 10px;
}
.mc_category{
    padding-top: 30px;
}
.mc_category .cat-first-item img{
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
}
.mc_category .cat-first-item .thumb-cat-first{
    display: block;
    margin-bottom: 12px;
}
.mc_category .cat-name{
    display: block;
    width: max-content;
    padding: 6px 14px;
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 10px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.mc_category .cat-name:before{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    border-radius: 6px;
    background-color: #aedbdb;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.mc_category .cat-name:hover:before{
    -webkit-transition: -webkit-box-shadow .25s cubic-bezier(.32,.74,.57,1);
    transition: box-shadow .25s cubic-bezier(.32,.74,.57,1);
    box-shadow: 0 0 10px #aedbdb;
}
.mc_category .title-post-sec-cat{
    font-size: 15px;
    font-family: 'Raleway-Black';
    margin-bottom: 15px;
    display: block;
    text-align: center;
    line-height: 25px;
}
.author_date span{
    margin: 0 3px;
}
.author_date{
    text-align: center;
    font-family: 'Montserrat-Regular';
    color: #666;
    font-size: 10px;
    text-transform: uppercase;
}
.author_date .author{
    font-family: 'Montserrat-Bold';
    color:#000;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .thumb-cat-first{
    height: 100%;
}
.mc_category .cat-grid .cat-first-item:nth-child(2){
    position: relative;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .thumb-cat-first img{
    height: 100%;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .st-group-cate-info{
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    z-index: 3;
}
.mc_category .cat-grid .cat-first-item:nth-child(2)::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: 2;
    background: linear-gradient(to top,#10142d 0,#10142de6 calc(100% - 150px),#10142d00 100%);
    border-radius: 0 0 10px 10px;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .title-post-sec-cat{
    font-size: 41px;
    color: #fff;
    line-height: 50px;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .author_date{
    color:#fff;
}
.mc_category .cat-grid .cat-first-item:nth-child(2) .author_date .author{
    color:#fff;
}
.mc_category .mc-panigation{
    margin: 15px 0 60px 0;
}
.mc_category .nav-links{
    text-align: center;
}
.mc_category .nav-links .page-numbers.current{
    padding: 8px 10px;
    background: #aedbdb;
    border-radius: 14px;
    color: #fff;
    border: 1px solid #aedbdb;
}
.mc_category .nav-links .page-numbers:hover{
    background: #aedbdb;
    color: #fff;
    transition: 0.3s all;
    border: 1px solid #aedbdb;
    box-shadow: 1px 1px 20px #aedbdb;
}
.mc_category .nav-links .page-numbers{
    padding: 8px 10px;
    background: #fff;
    border-radius: 14px;
    color: #000;
    border: 1px solid #80808026;
    margin: 0 2px;
    font-size: 12px;
    font-family: 'Montserrat-Bold';
    transition: 0.3s all;
}
/* END CSS CATEGORY PAGE */
/* CSS CONTACT US PAGE */
.contact_page{
    padding: 50px 0 70px 0;
    border-top: 1px solid #80808026;
}
.contact_page .sub_titl_contact{
    font-size: 21px;
    color:#777777;
    text-align: center;
    font-family: 'Raleway-Black';
}
.contact_page .title_contact{
    font-size: 42px;
    color:#333333;
    text-align: center;
    font-family: 'Raleway-Black';
    margin-bottom: 40px;
}
.contact_page .contact_maps{
    margin-bottom: 20px;
}
.contact_maps iframe{
    height: 208px;
    width: 100%;
}
.contact_page .mc-title-form-ctp{
    font-size: 21px;
    color:#333333;
    font-family: 'Raleway-Black';
    margin-bottom: 14px;
}
.contact_page .desc-from-ctp{
    margin-bottom: 30px;
    font-family: 'Lora-Italic';
    font-size: 14px;
    color:#333333;
    line-height: 24px;
}
.contact-page-contain{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.contact_page .ctp-inpt-form{
    margin-bottom: 20px;
}
.contact_page .ctp-inpt-form input{
    width: 100%;
    background: #88888812;
    padding: 12px 20px;
    outline: none;
    border: 0;
    border-radius: 5px;
    font-family: 'Lora-Regular';  
    font-size: 14px;
}
.contact_page .ctp-textarea-form textarea{
    width: 100%;
    background: #88888812;
    padding: 12px 20px;
    outline: none;
    border: 0;
    border-radius: 5px;
    font-family: 'Lora-Regular';  
    font-size: 14px;
    height: 230px;
}
.mc-ctp-sub button{
    width: 185px;
    padding: 12px 5px;
    display: block;
    font-size: 13px;
    font-family: 'Raleway-Bold';
    color: #fff;
    background: #aedbdb;
    border: 0;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}
.mc-ctp-sub button:hover{
    box-shadow: 0 4px 15px #aedbdbe6;
    transition: 0.3s all;
}
.phoneVal, .nameVal{
    display: none;
    font-size: 14px;
    color: #ff0000e6;
}
/* END CSS CONTACT US PAGE */
/* 404 */
.page_404{
    min-height: 600px;
}
.error-contain img{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.error-contain h3{
    font-family: 'Raleway-Black';
    font-size: 42px;
    margin-bottom: 25px;
    color:#000;
}
.error-contain{
    color:#666666;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 100px;
}
.mc-btn-go-home{
    margin-top: 30px;
}
.mc-btn-go-home a{
    display: block;
    width: 212px;
    text-align: center;
    font-size: 12px;
    padding: 14px 5px;
    background: #f7f7f7;
    margin: 0 auto;
    font-family: 'Raleway-Bold';
    border-radius: 25px;
    transition: 0.3s all;
}
.mc-btn-go-home a:hover{
    transition: 0.3s all;
    color:#fff;
    background:#aedbdb;
    -webkit-box-shadow: 0 4px 15px #aedbdbe6;
    box-shadow: 0 4px 15px #aedbdbe6;
}
