@media only screen and (max-width: 1200px) {
    .mc-container{
        max-width: 100%;
        padding: 0 10px;
        margin:0 auto;
    }
    .mc-container-big{
        max-width: 100%;
        padding: 0 10px;
        margin:0 auto;
    }
    .mc-mg--15{
        margin:0 -10px;
    }
    .mc-pdx-15{
        padding: 0 10px;
    }
    .mc-col-lg-1{
        flex: 0 0 8.33%;
        max-width: 8.33%;
        width: 100%;
    }
    .mc-col-lg-2{
        flex: 0 0 16.66%;
        max-width: 16.66%;
        width: 100%;
    }
    .mc-col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
    }
    .mc-col-lg-4{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 100%;
    }
    .mc-col-lg-5{
        flex: 0 0 41.66%;
        max-width: 41.66%;
        width: 100%;
    }
    .mc-col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }
    .mc-col-lg-7{
        flex: 0 0 58.33%;
        max-width: 58.33%;
        width: 100%;
    }
    .mc-col-lg-8{
        flex: 0 0 66.66%;
        max-width: 66.66%;
        width: 100%;
    }
    .mc-col-lg-9{
        flex: 0 0 75%;
        max-width: 75%;
        width: 100%;
    }
    .mc-col-lg-10{
        flex: 0 0 83.33%;
        max-width: 83.33%;
        width: 100%;
    }
    .mc-col-lg-11{
        flex: 0 0 91.66%;
        max-width: 91.66%;
        width: 100%;
    }
    .mc-col-lg-12{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .mc-col-cs-size-20{
        flex: 0 0 20%;
        max-width: 20%;
        width: 100%;
    }
    .title_list_cate{
        margin-bottom: 20px;
    }
    .section_2 .sec_2_cat_list .item_cate img{
        height: 190px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 1024px) {
    .section_1 .left-banner{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .section_1 .right-contain{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section_1 .left-banner img{
        width: 500px;
        margin: 0 auto;
    }
    .section_1 .right_content_sec_1 h3{
        text-align: center;
        padding-right: 0;
    }
    .section_1 .right_content_sec_1{
        padding: 0 20px;
    }
    .mc-line{
        margin: 0 auto;
        margin-top: 20px;
    }
    .btn_sec_1 a{
        justify-content: center;
        padding-right: 0;
    }


}
@media only screen and (max-width: 876px){
    .mc-mg--10{
        margin:0 -5px;
    }
    .mc-pdx-10{
        padding: 0 5px;
    }
    .mc-col-lg-1{
        flex: 0 0 8.33%;
        max-width: 8.33%;
        width: 100%;
    }
    .mc-col-lg-2{
        flex: 0 0 16.66%;
        max-width: 16.66%;
        width: 100%;
    }
    .mc-col-lg-3{
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
    }
    .mc-col-lg-4{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 100%;
    }
    .mc-col-lg-5{
        flex: 0 0 41.66%;
        max-width: 41.66%;
        width: 100%;
    }
    .mc-col-lg-6{
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }
    .mc-col-lgm-7{
        flex: 0 0 58.33%;
        max-width: 58.33%;
        width: 100%;
    }
    .mc-col-lgm-8{
        flex: 0 0 66.66%;
        max-width: 66.66%;
        width: 100%;
    }
    .mc-col-lgm-9{
        flex: 0 0 75%;
        max-width: 75%;
        width: 100%;
    }
    .mc-col-lgm-10{
        flex: 0 0 83.33%;
        max-width: 83.33%;
        width: 100%;
    }
    .mc-col-lgm-11{
        flex: 0 0 91.66%;
        max-width: 91.66%;
        width: 100%;
    }
    .mc-col-lgm-12{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .mc-col-md-1{
        flex: 0 0 8.33%;
        max-width: 8.33%;
        width: 100%;
    }
    .mc-col-md-2{
        flex: 0 0 16.66%;
        max-width: 16.66%;
        width: 100%;
    }
    .mc-col-md-3{
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
    }
    .mc-col-md-4{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 100%;
    }
    .mc-col-md-5{
        flex: 0 0 41.66%;
        max-width: 41.66%;
        width: 100%;
    }
    .mc-col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }
    .mc-col-md-7{
        flex: 0 0 58.33%;
        max-width: 58.33%;
        width: 100%;
    }
    .mc-col-md-8{
        flex: 0 0 66.66%;
        max-width: 66.66%;
        width: 100%;
    }
    .mc-col-md-9{
        flex: 0 0 75%;
        max-width: 75%;
        width: 100%;
    }
    .mc-col-md-10{
        flex: 0 0 83.33%;
        max-width: 83.33%;
        width: 100%;
    }
    .mc-col-md-11{
        flex: 0 0 91.66%;
        max-width: 91.66%;
        width: 100%;
    }
    .mc-col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 576px) {
    .mc-col-sm-1{
        flex: 0 0 8.33%;
        max-width: 8.33%;
        width: 100%;
    }
    .mc-col-sm-2{
        flex: 0 0 16.66%;
        max-width: 16.66%;
        width: 100%;
    }
    .mc-col-sm-3{
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
    }
    .mc-col-sm-4{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        width: 100%;
    }
    .mc-col-sm-5{
        flex: 0 0 41.66%;
        max-width: 41.66%;
        width: 100%;
    }
    .mc-col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }
    .mc-col-sm-7{
        flex: 0 0 58.33%;
        max-width: 58.33%;
        width: 100%;
    }
    .mc-col-sm-8{
        flex: 0 0 66.66%;
        max-width: 66.66%;
        width: 100%;
    }
    .mc-col-sm-9{
        flex: 0 0 75%;
        max-width: 75%;
        width: 100%;
    }
    .mc-col-sm-10{
        flex: 0 0 83.33%;
        max-width: 83.33%;
        width: 100%;
    }
    .mc-col-sm-11{
        flex: 0 0 91.66%;
        max-width: 91.66%;
        width: 100%;
    }
    .mc-col-sm-12{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .section_1 .left-banner img{
        width: 90%;
    }
    .section_1 .right_content_sec_1 h3{
        font-size: 56px;
        margin-bottom: 0;
    }
    .section_1 .right_content_sec_1{
        font-size: 15px;
        line-height: 25px;
    }
    .section_1 .left-banner{
        margin-bottom: 20px;
    }
    .section_2 .sec_2_cat_list .item_cate img{
        height: 120px;
    }
    .section_2 .sec_2_cat_list .item_cate{
        margin-bottom: 10px;
        display: block;
    }
    .item_sec_2{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }
    .section_2 .item_sec_2 .cate_item_sec_2{
        padding: 4px 14px;
        margin-bottom: 10px;
        font-size: 8px;
    }
    .section_2 .item_sec_2 .title_item_sec_2{
        font-size: 15px;
        padding: 0 15px;
        margin-bottom: 10px;
    }
    .line-2{
        margin-bottom: 10px;
    }
    .mgb-sm-10{
        margin-bottom: 10px;
    }
    .section_2 .thumb_sec_2 img{
        border-radius: 10px;
        height: 165px;
        object-fit: cover;
    }
    .section_2{
        padding: 0 0 45px;
    }
    .section_2 .sec_2_post_list{
        margin-bottom: 25px;
    }
    .line-3{
        margin-bottom: 25px;
    }
    .section_2 .title_list_cate .big_title_cate{
        font-size: 30px;
    }
    .section_2 .title_list_cate .small_title_cate{
        font-size: 18px;
    }
}
@media only screen and (max-width: 438px) {
}